<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="Adrian Diaz">
  <title><%=status.code%></title>

  <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript">function goBack() { window.history.back(); }</script>
</head>
<body>

  <div class="container" style="margin: auto; max-width: 600px;">
    <div class="panel panel-danger" style="margin: 30% 0 0 0;">
      <div class="panel-heading">
        <h3 class="panel-title"><%=status.code%></h3>
      </div>

      <% if ( status.code === '400 Bad Request') {%><div class="panel-body">
        <p>The request could not be understood by the server due to malformed syntax, invalid request message framing, or deceptive request routing.</p>
        <p>The client <strong>SHOULD NOT</strong> repeat the request without modifications.</p>
        <p><em>RFC 7231 Section 6.5.1</em></p><br />
        <p class="text-muted"><strong>Reason: </strong><%=status.reason%></p>
        <%if (status.forgot) {%><p class="text-danger"><strong>Did you forget your password?</strong> Email the site admin for assistance. </p><%}%>
        <button type="button" class="btt btn-danger" onclick="goBack()">Try Again</button>
      </div>

      <%}%><% if ( status.code === '401 Unauthorized') {%><div class="panel-body">
      <p>The request has not been applied because it lacks valid authentication credentials for the target resource.</p>
      <p><em>RFC 7235 Section 3.1</em></p>
      <br />
      <p class="text-muted"> <strong>Reason:</strong> <em><%=status.reason%></em></p><a href="/login">
      <button type="button" class="btt btn-danger">Login</button></a>
      </div>

      <%}%><% if ( status.code === '403 Forbidden') {%><div class="panel-body">
        <p>The server understood the request but refuses to authorize it.</p>
        <p><em>RFC 7231 Section 6.5.3</em></p>
        <br />
        <p class="text-muted"> <strong>Reason:</strong> You do not own the resource at <em><%=status.reason%></em></p><a href="/"><button type="button" class="btt btn-danger">Return to your profile</button></a>
      </div>

      <%}%><% if ( status.code === '404 Not Found') {%><div class="panel-body">
        <p> The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.</p>
        <p> <em>RFC 7231 Section 6.5.4</em></p>
        <br />
        <p class="text-muted"> <strong>Reason:</strong> <em><%=status.reason%></em> does not exist</p><a href="/">
        <button type="button" class="btt btn-danger">Return to homepage</button></a>
      </div>

    <%}%></div>
  </div>
</body>
</html>
