<% include ./partials/_head %>
<body>
<% include ./partials/_header %>

  <div class="kortos">
  <div><h3>hey <%=username%>, it looks like you have saved the following kort&#333;s</h3></div>
    <ul class="list-group">
      <% for(id in urlIds){ %>
      <% if ( user === urlIds[id].ownerId ) { %>
      <li class="list-group-item content-transparency">
        <div class="row decor">
        <div class="col-md-9 invert">
          <%=id%> &xrarr; <%= urlIds[id].url%>
          </div>

        <div class="col-md-3" style="float: right;">
        <a href="/urls/<%=id%>" style="float: right; margin-left: 10px;">
        <button class="btn btn-warning" style="">edit</button>
          </a>
          <form method="POST" action="/urls/<%=id%>/delete" style="display:inline; float: right;">
            <button class="btn btn-danger">delete</button>
          </form>
          </div>
        </div>
      </li><%}%>
      <%}%>
    </ul>
  </div>
  <!-- <footer>
    <% //include ./partials/_footer %>
  </footer> -->

</body>
</html>