<% include ./partials/_head %>
<body>
<% include ./partials/_header %>
  <% if (Object.keys(urlIds).length > 0) {%>
  <div class="kortos">
  <div class="index-heading shadow"><h4>hey <%=username%>, it looks like you have <%= Object.keys(urlIds).length %> saved kort&#333;s</h4></div>
    <ul class="list-group">
      <% for(id in urlIds){ %>
      <% if ( user === urlIds[id].ownerId ) { %>
      <li class="list-group-item content-transparency">
        <div class="row decor">
        <div class="col-md-9 invert">
          <a href="http://localhost:8080/u/<%=id%>" style="text-decoration: none; color: #000">


          <%=id%></a> &xrarr; <%= `${urlIds[id].url} >> saved on: ${urlIds[id].dateAdded} `%>
          </div>

        <div class="col-md-3" style="float: right;">
        <a href="/urls/<%=id%>" style="float: right; margin-left: 10px;">
        <button class="btn btn-warning" style="">edit</button>
          </a>
          <form method="POST" action="/urls/<%=id%>/delete" style="display:inline; float: right;">
            <button class="btn btn-danger">delete</button>
          </form>
          </div>
        </div>
      </li><%}%>
      <%}%>
    </ul>
  </div> <%}%>


  <div class="index-shortner"> <% if (Object.keys(urlIds).length > 0) {%>
  <p class="index-shortner shadow">Why not save another kort&#333;?</p><%} else {%>
  <p class="index-shortner shadow">Get started by saving your first kort&#333;</p> <%}%>
            <form action="/urls" method="POST">
              <div class="form-group">
                <input id="longURL" type="text" name="longURL" placeholder="http://" style="max-width: 800px; float: right">
              </div>
              <input type="submit" value="make kort&#333;" style="float: right; margin-top: 15px">
            </form>
        </div>
  <!-- <footer>
    <% //include ./partials/_footer %>
  </footer> -->

</body>
</html>